$main-color: #bf2152;

* {
  margin: 0;
  padding: 0;
}
*,
*::before *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px;
}

body {
  //background-color: pink;
  //font-family: "Space Mono", monospace;
  font-family: "Lato", sans-serif;
}
