.quote_container {
  background-color: $main-color;
  .quote-text {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  span {
    text-decoration: underline;
    cursor: pointer;
  }
}
